
<p *ngIf="(profile$ | async)?.appointementDate=='You didnt\'t book any ...'">Didnt book your appointment ?</p>

<mat-card class="demo-inline-calendar-card" *ngIf="calendar">
    <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>


<p *ngIf="dashboard">Selected date: {{ (profile$ | async)?.appointementDate || 'N/A' }}</p>

<div >


    <button mat-raised-button color="primary" *ngIf="dashboard" (click)="btnClickCalendar();">Book Now</button>
    <button mat-raised-button color="primary" *ngIf="calendar" (click)="btnClickCalendarSave();">Save</button>
  
</div>