<div class="profile-container">
    <div class="avatar">
        <img src="https://hips.hearstapps.com/hmg-prod/images/cute-photos-of-cats-looking-at-camera-1593184780.jpg" alt="Student Avatar">
    </div>
    <div class="profile-info">
        <h1>Younes Drissi</h1>
        <p>Date of Birth: June 5, 1997</p>
        <p *ngIf="!profileUrl">Contact: {{email}}</p>
        <input *ngIf="profileUrl" matInput placeholder="{{email}}" value="{{email}}">
        <p>Current License Type : B</p>
        <p>Learner's Permit Information</p>
        <p>Expected License Type : C</p>
    </div>
    
</div>
<button mat-raised-button color="primary" *ngIf="dashboard" (click)="btnClickProfile();">Edit</button>
<button mat-raised-button color="primary" *ngIf="profileUrl" (click)="btnClickDashboard();">Save</button>


