<div class="profile-container">
    <div class="avatar">
        <img src="https://hips.hearstapps.com/hmg-prod/images/cute-photos-of-cats-looking-at-camera-1593184780.jpg" alt="Student Avatar">
    </div>
    <div class="profile-info">
        <h1>{{ (profile$ | async)?.name || 'N/A' }}</h1>
        <p>Date of Birth: {{ (profile$ | async)?.dateOfBirth || 'N/A' }}</p>
        <p *ngIf="!profileUrl">Contact: {{ (profile$ | async)?.email || 'N/A' }}</p>
        <input *ngIf="profileUrl" matInput [(ngModel)]="email">
        <p>Current License Type : {{ (profile$ | async)?.licenseType || 'N/A' }}</p>
        <p>ID : {{ (profile$ | async)?.id || 'N/A' }}</p>
    
    </div>
    
</div>
<button mat-raised-button color="primary" *ngIf="profileUrl" (click)="btnClickDashboard();">Save</button>


