<div *ngIf="dashboard" class="credit-card">
  <div class="card-front">
    <div class="card-type">
      <mat-icon>credit_card</mat-icon>
    </div>
    <div class="card-number">
      <div class="number">
        {{ (profile$ | async)?.card?.cardnumber || "N/A" }}
      </div>
    </div>
    <div class="card-info">
      <div class="cardholder">
        {{ (profile$ | async)?.card?.fullname || "N/A" }}
      </div>
      <div class="exp-date">
        Exp: {{ (profile$ | async)?.card?.expiration || "N/A" }}
      </div>
    </div>
  </div>
  <div class="card-back">
    <div class="magnetic-stripe"></div>
    <div class="signature"></div>
    <div class="ccv">
      <div class="ccv-label">CCV</div>
      <div class="ccv-number">123</div>
    </div>
  </div>
</div>

<div *ngIf="payment">
  <mat-form-field>
    <mat-label>Card Number</mat-label>
    <input matInput [(ngModel)]="cardnumber" placeholder="Card Number" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Name on Card</mat-label>
    <input [(ngModel)]="fullname" matInput placeholder="Name on Card" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Expiration Date</mat-label>
    <input matInput placeholder="MM/YY" [(ngModel)]="expiration" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>CVV</mat-label>
    <input matInput placeholder="CVV" />
  </mat-form-field>
  <br />
  <mat-radio-group [(ngModel)]="selectedCardType">
    <mat-radio-button value="Visa">Visa</mat-radio-button>
    <mat-radio-button value="MasterCard">MasterCard</mat-radio-button>
    <mat-radio-button value="ApplePay">ApplePay</mat-radio-button>
  </mat-radio-group>
  <br />
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>
